

{{!-- 
//login
//copy/paste the main or the section html here:

//add into the html:    action="/auth/login" method="POST"
//add into the html:    name="" like                = for="" and  id=""
//fix href="#" :        href="/auth/register"
//--}}
 <section id="loginPage">
    <form id='loginForm'  action="/auth/login" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" class="register" value="Login">
    </form>
</section>
