

{{!-- Ctrl+Shift+F
//register
//copy/paste the main or the section html here:

//add in </form>                     action="/auth/register" method="POST"
//fix href="#" :                     href="/auth/register"
//add into the html:      name=""    email, password, rePassword    like for,id
//--}}

<main class="register">
    <section id="register">
        <div class="form">
            <h2>Register</h2>
            <form class="login-form" action="/auth/register" method="POST">
                <input type="text" name="email" id="register-email" placeholder="email" />
                <input type="password" name="password" id="register-password" placeholder="password" />
                <input type="password" name="rePassword" id="repeat-password" placeholder="repeat password" />
                <button type="submit">Register</button>
                <p class="message">Already registered? <a href="/auth/register">Login</a></p>
            </form>
        </div>
    </section>
</main>