

{{!-- Ctrl+Shift+F
//404
//copy/paste the main or the section html here:

//fix href="#" :                    href="/"
//--}}

 <main>
     <section id="not-found-page">
         <article class="not-found-page-content">
             <h1>404</h1>
             <p>The Page you are looking for doesn't exist or another error occurred.</p>
             <a href="/" class="view-home-page">Home Page</a>
         </article>
         <article class="not-found-page-image">
             <!-- Do not forget to change the path to the image -->
             <img src="/static/img/map-icon.png" alt="man">{{!--?--}}
         </article>
     </section>
 </main>