

{{!-- Ctrl+Shift+F
//404
//copy/paste the main or the section html here:

//fix href="#" :                    href="/"
//--}}



{{!--//Example1--}}
{{!--//Delete later--}}
<main id="errorPage">
 <section id="404Page" class="background-img">
    <div class="error-page">
        <h1>404</h1>
        <p>Woops. Looks like this page doesn't exist.</p>'
    </div>
 </section>
</main>