

{{!--
//home
//copy/paste the main or the section html here:

//fix href="#" : href="/items/dashboard"
//remove "." from "<img>" :
//--}}

<main>
    <section id="home">
        <div class="home-container">
            <div class="short-info">
                <h1>START YOUR ADVENTURE TODAY!</h1>
                <h2>Everything you need to know about Harry Potter and the magical world.</h2>
            </div>
        </div>
    </section>
    <section id="home-page">

        <div class="offers">
            <div class="col container"><img src="/static/img/Niffler.webp" alt="Niffler"></div>
            <div class="col container"><img src="/static/img/Demiguise.webp" alt="Demiguise"></div>
            <div class="col container"><img src="/static/img/Hippogriff.jpg" alt="Hippogriff"></div>
            <div class="col container"><img src="/static/img/Basilisk.jpg" alt="Basilisk"></div>
        </div>

    </section>
</main>


{{!--//Example1--}}
{{!--//Delete later--}}
{{!-- 
<main id="home">
 <section id="homePage" class="background-img">
    <div class="introduction">
        <h1>The Trusted Wholesale Marketplace for Used Electronics</h1>
        <p>Each year, 50 million tons of IT gear reaches end-of-life. Tradeloop is where companies safely buy, repair,
            recycle, and resell it. How it works?</p>
    </div>
 </section>
</main> --}}