
<section id="info-about-candidates">
    <h2>Candidates for this ad:</h2>
    <article class="info-about-candidates-card">
        <h2>Email: {{this.email}}</h2>{{!--raboti--}}
        <h3>Description of the candidate's skills: {{this.description}}</h3>{{!--ne raboti--}}
    </article>
</section>