

{{!--
//dashboard: dash1_hb_for_loop
//copy/paste the main or the section html here:

//remove all posts,leave only 1 post:     
//copy/paste that 1 post into the item-card.hbs
//--}}

<section id="viewCatalog" class="background-img">
    <!--If there are one or more electronics-->
    <div class="added-electronics">
        <!--some items-->
        {{#each items}}
        {{> item-card}}
        {{else}}
        <!--!-, </div> here-->
    </div>
        <!--no items-->
        <!--!-->
   <div class="guest">
        There are no electronics found...
    </div> 
        {{/each}}
</section>
