

{{!-- 
//404
//copy/paste the main or the section html here:

//fix href="#" :                    href="/"
//--}}



    <main>
        <section id="not-found-page">
            <div class="not-found-page-container">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <p>The Page you are looking for doesn't exist or another error occurred. Go to <a href="#"
                        class="btn">Courses</a>.
                </p>
            </div>
        </section>
    </main>







{{!--//Example1--}}
{{!--//Delete later--}}
<main id="errorPage">
 <section id="404Page" class="background-img">
    <div class="error-page">
        <h1>404</h1>
        <p>Woops. Looks like this page doesn't exist.</p>'
    </div>
 </section>
</main>