

{{!-- Ctrl+Shift+F
//register
//copy/paste the main or the section html here:

//add in </form>                     action="/auth/register" method="POST"
//fix href="#" :                     href="/auth/register"
//add into the html:      name=""    username, email, password, rePassword    like for,id
//--}}



{{!--//Example1--}}
{{!--//Delete later--}}
<main id="register">
 <section id="registerPage">
    <form id='registerForm' action="/auth/register" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your Username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password">

        <label for="rePassword">Repeat Password:</label>
        <input type="password" id="rePassword" name="rePassword" placeholder="Repeat Password">

        <input type="submit" class="register" value="Register">
    </form>
 </section>
</main>