

{{!-- Ctrl+Shift+F
//dashboard: dash1_hb_for_loop
//copy/paste the main or the section html here:

//remove all posts,leave only 1 post:     
//copy/paste that 1 post into the item-card.hbs

//foreach:                                       dash1_hb_for_loop
//copy shape here from create.hbs:
//name 
//image 
//age 
//description
//location
//--}}

<main>
    <div class="container">
        <div class="col-9">
            <!-- Start Pet Photos Post Section -->
            {{#each items}}
            {{>item-card}}

            {{else}}
            <!--If there are no photo yet!-->
            <article class="not-available-photo">
                <h1>No photo posts yet.</h1>
            </article>
            {{/each}}
        </div>
    </div>
</main>