



{{!-- //if item-card is different
use search-card:  --}}


{{!-- Ctrl+Shift+F
//search: search_hbs
//copy/paste the main or the section html here:

//add in </form>:                        action="/items/search" method="GET"
//add specific names:                    name="searchName1"  name="searchName2"
//foreach                                search_hbs
--}}



{{!--//Example1--}}
{{!--//Delete later--}}
<main id="search">
 <section class="search">
    <h1>Search</h1>

    <form class="search-form" action="/items/search" method="GET">
        <input type="text" class="search-name" name="searchName1" placeholder="Search Name...">
        <input type="text" class="search-type" name="searchName2" placeholder="Search Type...">
        <button type="submit" class="btn-search">Search</button>
    </form>

    <!--If there are matches after search-->
    {{#if items}}
    <div class="search-result">
        <div class="search-list">
            {{#each items}}
            {{> item-card}}
            {{/each}}
        </div>

    </div>
    {{else}}
    <!--If there are no matches-->
    <div class="no-match">
        <p>No match was found!</p>
    </div>
    {{/if}}
 </section>
</main>