

{{!-- 
//create
//copy/paste the main or the section html here:

//add into the html:                         action="/items/create" method="POST"
//add into the html:                         name="" like                = for="" and  id=""
//make shape judging by the form "id" shape:
//copy entity shape here:




//--}}

<main>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    <!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->
    <section id="create-container">
        <div class="create-container-info">
            <h1>Create Announcement</h1>
            <h4>Post your coins to sell</h4>
            <form action="#" method="">
                <label>Name:</label>
                <input type="text" id="name" name="" placeholder="Bitcoin">
                <label>Image:</label>
                <input type="text" id="image" name="" placeholder="http://...">
                <label>Price:</label>
                <input type="number" id="price" name="" placeholder="31,166.71">
                <label>Description:</label>
                <textarea id="description" name="" placeholder="Introduce your coins..."></textarea>
                <label>Payment method:</label>
                <select id="payment" name="">
                    <option value="crypto-wallet">Crypto Wallet</option>
                    <option value="credit-card">Credit Card</option>
                    <option value="debit-card">Debit Card</option>
                    <option value="paypal">PayPal</option>
                </select>
                <input type="submit" id="btn" value="TRADE"></input>
            </form>
        </div>
    </section>
</main>







{{!--//Example1--}}
{{!--//Delete later--}}
<main id="create">
 <section id="createPage">
    <form id='createForm' action="/items/create-offer" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name...">

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" placeholder="Type...">

        <label for="production">Year of Production:</label>
        <input type="number" id="production" name="production" placeholder="Year of Production...">

        <label for="exploitation">Years of Exploitation:</label>
        <input type="number" id="exploitation" name="exploitation" placeholder="Year of Exploitation...">

        <label for="damages">Damages:</label>
        <input type="text" id="demages" name="damages" placeholder="Demages...">

        <label for="image">Image:</label>
        <input type="text" id="image" name="image" placeholder="Image...">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" placeholder="Price...">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description...">

        <input type="submit" class="create" value="Create Offer">
    </form>
 </section>
</main>