

{{!-- 
//404
//copy/paste the section html here:
//--}}

    <main id="errorPage">
        <div id="not-found-page">
            <div class="not-found-page-container">
                <h2>Page Not Found</h2>
                <p>The page you are looking for doesn't exist. Go to <a href="/items/dashboard"
                        class="btn">Games</a>.
                </p>
            </div>
        </div>
    </main>













{{!--//Example1--}}
{{!--//Delete later--}}
{{!-- 
<section id="404Page" class="background-img">
    <div class="error-page">
        <h1>404</h1>
        <p>Woops. Looks like this page doesn't exist.</p>'
    </div>
</section> 
--}}