

{{!-- 
//home
//copy/paste the section html here:
//fix href="#" :                    href="/items/dashboard"
//--}}


    <main id="home">
        <div class="content">
            <h1>BUY & <br>SELL <span>Games</span></h1>
            <p>Buy the best video games <strong>keys</strong> at the <strong>best price</strong>!</p>
            <a href="/items/dashboard" class="buy">BUY</a>
        </div>
    </main>
















{{!--//Example1--}}
{{!--//Delete later--}}
{{!-- 
<section id="homePage" class="background-img">
    <div class="introduction">
        <h1>The Trusted Wholesale Marketplace for Used Electronics</h1>
        <p>Each year, 50 million tons of IT gear reaches end-of-life. Tradeloop is where companies safely buy, repair,
            recycle, and resell it. How it works?</p>
    </div>
</section> 
--}}